<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housebox</title>
    <link rel="stylesheet" href="{{ asset("assets/vendor/simple-line-icons/css/simple-line-icons.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/font-awesome/css/fontawesome-all.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
</head>
<body class="header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#">
            <img src="{{ asset("assets/imgs/logo.png") }}" alt="logo">
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset("assets/imgs/avatar-1.png") }}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{ app.user.email }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header">Mon Compte</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user"></i> Profil
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope"></i> Messages
                    </a>

                    <div class="dropdown-header">Configuration</div>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-bell"></i> Notifications
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a href="{{ path('logout') }}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Déconnexion
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">



        <div class="content">

            {% for label, messages in app.flashes() %}
                {% for message in messages %}
                    <div class="alert alert-dismissible alert-{{ label }}">
                        {{ message }}

                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset("assets/vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/popper.js/popper.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/chart.js/chart.min.js") }}"></script>
    <script src="{{ asset("assets/js/carbon.js") }}"></script>
    <script src="{{ asset("assets/js/demo.js") }}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

</body>
</html>
