{% extends "Entreprise/base.html.twig" %}

{% block body %}
    <div class="card">
        {{ form_start(form) }}
        <div class="card-header">
            <h1>{{ action }} un contact</h1>
        </div>
        <div class="card-body">
            {{ form_errors(form.nom) }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nom</span>
                </div>
                {{ form_widget(form.nom) }}
            </div>

            {{ form_errors(form.prenom) }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Prénom</span>
                </div>
                {{ form_widget(form.prenom) }}
            </div>

            {{ form_errors(form.fonction) }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Fonction</span>
                </div>
                {{ form_widget(form.fonction) }}
            </div>

            {{ form_errors(form.email) }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                {{ form_widget(form.email) }}
            </div>

            {{ form_errors(form.telephone) }}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                {{ form_widget(form.telephone) }}
            </div>
        </div>
        <div class="card-footer text-right">
            <a class="btn btn-link" href="{{ path('entreprise_contacts') }}">Annuler</a>
            <button type="submit" class="btn btn-primary">{{ action }} le contact</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}