{% extends "Entreprise/entreprise_detail.html.twig" %}
{% set tabSelected = "contacts" %}

{% block tabContent %}
    <div class="row justify-content-center mb-3 pl-3 pr-3">
        <div class="col">
            <div class="input-group mr-5 align-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="search" class="form-control" placeholder="Rechercher" id="search">
            </div>
        </div>
        <div class="col text-right">
            <a class="btn btn-success" href="{{ path('entreprise_contacts_add') }}">Ajouter un contact</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="tableProjets">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Fonction</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th style="width: 1px;"></th>
                <th style="width: 1px;"></th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.nom }}</td>
                    <td>{{ contact.prenom }}</td>
                    <td>{{ contact.fonction }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.telephone }}</td>
                    <td class="text-right text-white">
                        <a class="btn btn-sm btn-warning edit-contact" href="{{ path('entreprise_contacts_edit', {"id": contact.id}) }}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td class="text-right text-white">
                        <a href="{{ path('entreprise_contacts_remove', {'id': contact.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $.fn.dataTable.ext.search.push(function( settings, data, dataIndex ) {
            var search = $("#search").val();
            var regex = new RegExp(search, "i");

            var length = data.length;

            for(i=0; i<length-2; i++) {
                if(data[i].match(regex)) {
                    return true;
                }
            }
            return false;
        });

        $(document).ready(function(){
            var table = $('#tableProjets').DataTable({
                "language": { url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"},
                "dom": 'tp'
            });

            $('#search').keyup(function () {
                table.draw();
            })
        });



    </script>
{% endblock %}