<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housebox</title>
    <link rel="stylesheet" href="{{ asset("assets/vendor/simple-line-icons/css/simple-line-icons.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/font-awesome/css/fontawesome-all.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">
</head>
<body>
<div class="page-wrapper flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4">

                    <form action="{{ path('entreprise_login_check') }}" method="post">

                        <div class="card-header text-center text-uppercase h4 font-weight-light">
                            <img src="{{ asset('assets/imgs/houseboxLogo.png') }}" alt="Housebox">
                        </div>

                        <div class="card-body py-5">

                            <h3 class="text-center text-uppercase">Connexion entreprise</h3>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@</span>
                                </div>
                                <input type="email" class="form-control" placeholder="Email" name="_username" value="{{ last_username }}">
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="Mot de passe" name="_password">
                            </div>

                            <div class="custom-control custom-checkbox mt-4 ">
                                <input type="checkbox" class="custom-control-input" id="_remeber_me" name="_remeber_me">
                                <label class="custom-control-label" for="_remeber_me">Rester connecter</label>
                            </div>


                        </div>

                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-block btn-primary">Se connecter</button>
                                </div>
                                <div class="col">
                                    <a href="{{ path('security_register_entreprise') }}" class="btn btn-block btn-secondary text-white">Créer un compte</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                {% if error %}
                    <div class="alert alert-warning">
                        <div>
                            {% if error.messageKey|trans(error.messageData, 'security') == "Invalid credentials." %}
                                Identifiant / Mot de passe incorrects.
                            {% elseif error.messageKey|trans(error.messageData, 'security') == "Account is disabled."%}
                                Votre compte n'a pas été activé. Voir le mail transmis à l'inscription.
                            {% else %}
                                {{ error.messageKey|trans(error.messageData, 'security') }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                {% for label, messages in app.flashes() %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{{ label }}">
                            {{ message }}

                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<script src="{{ asset("assets/vendor/jquery/jquery.min.js") }}"></script>
<script src="{{ asset("assets/vendor/popper.js/popper.min.js") }}"></script>
<script src="{{ asset("assets/vendor/bootstrap/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("assets/vendor/chart.js/chart.min.js") }}"></script>
<script src="{{ asset("assets/js/carbon.js") }}"></script>
<script src="{{ asset("assets/js/demo.js") }}"></script>
</body>
</html>
