{% extends "Entreprise/projet_detail.html.twig" %}
{% set tabSelected = "documents" %}

{% block tabContent %}
    {{ form_start(form) }}

        {{ form_errors(form.type) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Nom</span>
            </div>
            {{ form_widget(form.type) }}
        </div>

        {{ form_errors(form.commentaires) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text h-100">Commentaires</span>
            </div>
            {{ form_widget(form.commentaires) }}
        </div>

        <div class="text-right">
            <a class="btn btn-link" href="{{ path('entreprise_projets_documents', {"id" : projet.id}) }}">Annuler</a>
            <button type="submit" class="btn btn-primary">Modifier le document</button>
        </div>

    {{ form_end(form) }}
{% endblock %}