{% extends "Entreprise/projet_detail.html.twig" %}
{% set tabSelected = "projet" %}

{% block tabContent %}
    {{ form_start(form) }}
        {{ form_errors(form.nom) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Nom du projet</span>
            </div>
            {{ form_widget(form.nom) }}
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Date de création</span>
            </div>
            <input type="text" class="form-control" disabled value="{{ projet.date|date("d/m/Y") }}">
        </div>

        {{ form_errors(form.statut) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Statut du projet</span>
            </div>
            {{ form_widget(form.statut) }}
        </div>

        {{ form_errors(form.description) }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text h-100">Description</span>
            </div>
            {{ form_widget(form.description) }}
        </div>

        <div class="text-right">
            <a href="{{ path('entreprise_projets_show', {'id': projet.id}) }}" class="btn btn-link">Annuler</a>
            <button type="submit" class="btn btn-primary">Modifier le projet</button>
        </div>
    {{ form_end(form) }}
{% endblock %}