<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Housebox</title>
    <link rel="stylesheet" href="{{ asset("assets/vendor/simple-line-icons/css/simple-line-icons.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/font-awesome/css/fontawesome-all.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/custom_style.css') }}">
</head>
<body class="header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header">

        <a class="navbar-brand" href="{{ path('client_home') }}">
            <img src="{{ asset("assets/imgs/houseboxLogo.png") }}" alt="logo" style="height: 40px;">
        </a>

        <ul class="navbar-nav ml-auto">
            {# TODO : Faire les messages et les alertes
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>
            #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ asset("assets/imgs/avatar-1.png") }}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none">{{ app.user.email }}</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">

                    <a href="{{ path('client_home') }}" class="dropdown-item">
                        <i class="fa fa-folder-open"></i> Projets
                    </a>

                    <a href="{{ path('client_profil') }}" class="dropdown-item">
                        <i class="fa fa-user"></i> Profil
                    </a>

                    <a href="{{ path('logout_client') }}" class="dropdown-item">
                        <i class="fa fa-lock"></i> Déconnexion
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">



        <div class="content">
            <div class="flashes-container">
                <div class="flashes">
                    {% for label, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="alert alert-dismissible alert-{{ label }}">
                                {{ message }}

                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>


            {% block body %}

            {% endblock %}
        </div>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset("assets/vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/popper.js/popper.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/bootstrap/js/bootstrap.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/chart.js/chart.min.js") }}"></script>
    <script src="{{ asset("assets/js/carbon.js") }}"></script>
    <script src="{{ asset("assets/js/demo.js") }}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function() {
            $(".flashes-container").slideToggle(500).fadeOut(10000);
            $(".flashes-container").mouseover(function() {
                $(this).css("opacity", 1).stop();
            });
            $(".flashes-container").mouseleave(function() {
                $(this).fadeOut(10000);
            });
        })
    </script>
{% endblock %}

</body>
</html>
