{% extends "Client/base.html.twig" %}

{% block body %}

    <div class="row mb-3">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-folder-open"></i> Liste des projets</span>
                </div>
                <select name="projet" id="projetsList" class="form-control">
                    {% for clientProjet in app.user.clientProjet %}
                        <option value="{{ clientProjet.projet.id }}" {% if clientProjet.projet.id == projet.id %} selected {% endif %} >{{ clientProjet.projet.nom }}</option>
                    {% endfor %}
                </select>
                <div class="input-group-btn">
                    {# TODO : Faire le filtre
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Filtre
                        <span class="caret"></span>
                    </button>



                    <div class="dropdown-menu" x-placement="bottom-start">
                        <a class="dropdown-item" href="#">Ouvert</a>
                        <a class="dropdown-item" href="#">Clos</a>
                    </div>
                    #}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a href="{{ path('client_projets_show', {id: projet.id}) }}" class="nav-link {% if tabSelected|default("projet") == "projet" %} active {% endif %}"><i class="fa fa-folder-open"></i> Projet</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('client_projets_entreprise', {id: projet.id}) }}" class="nav-link {% if tabSelected == "entreprise" %} active {% endif %}"><i class="fa fa-building"></i> Société</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('client_projets_contacts', {id: projet.id}) }}" class="nav-link {% if tabSelected == "contacts" %} active {% endif %}"><i class="fa fa-users"></i> Contacts société</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('client_projets_documents', {id: projet.id}) }}" class="nav-link {% if tabSelected == "documents" %} active {% endif %}"><i class="fa fa-file"></i> Documents</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('client_projets_photos', {id: projet.id}) }}" class="nav-link {% if tabSelected == "photos" %} active {% endif %}"><i class="fa fa-images"></i> Photos</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active">
                    {% block tabContent %}
                    {% endblock %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function(){
            $("#projetsList").change(function () {
                document.location.href = "/client/projets/" + $(this).val();
            });
        });
    </script>
{% endblock %}