{% extends "Client/projet_detail.html.twig" %}
{% set tabSelected = "documents" %}

{% block tabContent %}
    <div class="row justify-content-center mb-3 pl-3 pr-3">
        <div class="col">
            <div class="input-group mr-5 align-content-center">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
                <input type="search" class="form-control" placeholder="Rechercher" id="search">
            </div>
        </div>
        <div class="col text-right">

        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped" id="tableProjets">
            <thead>
            <tr>
                <th>Date d'ajout</th>
                <th>Type</th>
                <th>Commentaires</th>
                <th style="width: 1px;"></th>
            </tr>
            </thead>
            <tbody>
            {% for document in projet.documents %}
                <tr>
                    <td>{{ document.date|date('d/m/Y') }}</td>
                    <td>{{ document.type }}</td>
                    <td>{{ document.commentaires }}</td>
                    <td class="text-right text-white">
                        <a data-url="{{ path('client_documents_view', {"id": document.id }) }}" class="btn btn-sm btn-primary viewDocument" data-toggle="modal" data-target="#modal-viewDocument"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="modal fade" id="modal-viewDocument" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Visualiser un document</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <iframe class="w-100" style="height: 500px;"></iframe>

                </div>

            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $.fn.dataTable.ext.search.push(function( settings, data, dataIndex ) {
            var search = $("#search").val();
            var regex = new RegExp(search, "i");

            var length = data.length;

            for(i=0; i<length-2; i++) {
                if(data[i].match(regex)) {
                    return true;
                }
            }
            return false;
        });

        $(document).ready(function(){
            var table = $('#tableProjets').DataTable({
                "language": { url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"},
                "dom": 'tp'
            });

            $('#search').keyup(function () {
                table.draw();
            });

            $(".viewDocument").click(function() {
                $("iframe").attr("src", "");
                $("iframe").attr("src", $(this).data("url"));

                /*$("#modal-viewDocument .modal-body").html("chargement");
                $.ajax($(this).data("url")).done(function(data) {
                    $("#modal-viewDocument .modal-body").html('<iframe class="w-100">' + data + '</iframe>');
                });*/
            });
        });

    </script>
{% endblock %}