{% extends "Client/base.html.twig" %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>Liste de mes projets</h1>
        </div>
        <div class="card-body">

            <div class="row justify-content-center mb-3 pl-3 pr-3">
                <div class="col">
                    <div class="input-group mr-5 align-content-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Rechercher" id="search">
                    </div>
                 </div>
                <div class="col text-right">

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped" id="tableProjets">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Société</th>
                        <th>Nom du projet</th>
                        <th>Date création</th>
                        <th>Statut</th>
                        <th style="width: 1px;"></th>
                        <th style="width: 1px;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for clientProjet in app.user.clientProjet %}
                        <tr>
                            <td>{{ clientProjet.projet.id }}</td>
                            <td>{{ clientProjet.projet.entreprise.nom }}</td>
                            <td>{{ clientProjet.projet.nom }}</td>
                            <td>{{ clientProjet.projet.date|date("d/m/Y") }}</td>
                            <td>{{ (clientProjet.isAcceptedByClient) ? clientProjet.projet.statut : "Invitation en attente" }}</td>
                            <td class="text-right text-white">
                                {% if clientProjet.isAcceptedByClient %}
                                    <a href="{{ path('client_projets_show', {"id": clientProjet.projet.id}) }}" class="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a>
                                {% else %}
                                    <a data-projet="{{ clientProjet.projet.nom }}" data-url="{{ path('client_projets_accept', {"id": clientProjet.projet.id}) }}" class="btn btn-sm btn-success acceptProjet"><i class="fa fa-check"></i></a>
                                {% endif %}
                            </td>
                            <td class="text-right text-white">
                                <a data-projet="{{ clientProjet.projet.nom }}" data-url="{{ path('client_projets_remove', {"id": clientProjet.id}) }}" class="btn btn-sm btn-danger remove"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-removeProjet" tabindex="-1" role="dialog" aria-labelledby="removeProjet" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Supprimer un projet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Voulez-vous vraiment supprimer le projet <b id="projet-name"></b> ? Vous n'aurez plus accès au projet.
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger text-white" id="removeConfirmed" >Supprimer le projet</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-acceptProjet" tabindex="-1" role="dialog" aria-labelledby="acceptProjet" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Acepter un projet</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    Voulez-vous vraiment accepter le projet <b id="projet-name"></b> ?
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-success text-white" id="acceptConfirmed" >Acepter le projet</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $.fn.dataTable.ext.search.push(function( settings, data, dataIndex ) {
            var search = $("#search").val();
            var regex = new RegExp(search, "i");

            var length = data.length;

            for(i=0; i<length-2; i++) {
                if(data[i].match(regex)) {
                    return true;
                }
            }
            return false;
        });

        $(document).ready(function(){
            var table = $('#tableProjets').DataTable({
                "language": { url: "https://cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"},
                "dom": 'tp'
            });
            
            $('#search').keyup(function () {
                table.draw();
            });

            $(".remove").click(function(e) {
                e.preventDefault();
                var projet = $(this).data("projet");
                var url = $(this).data("url");

                $("#modal-removeProjet #removeConfirmed").attr("href", url);
                $("#modal-removeProjet #projet-name").text(projet);
                $("#modal-removeProjet").modal();
            });

            $(".acceptProjet").click(function(e) {
                e.preventDefault();
                var projet = $(this).data("projet");
                var url = $(this).data("url");

                $("#modal-acceptProjet #acceptConfirmed").attr("href", url);
                $("#modal-acceptProjet #projet-name").text(projet);
                $("#modal-acceptProjet").modal();
            });
        });

    </script>
{% endblock %}